@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Rubik;
  src: url(./utils/fonts/Rubik-Regular.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: Rubik;
}
body{
  background-color: whitesmoke;
}

/* style navigation scroll bar  */
.navigator-scroll::-webkit-scrollbar {
  width: 8px;
}
.navigator-scroll::-webkit-scrollbar-thumb {
  background: #c5c5c5;
}
.navigator-scroll::-webkit-scrollbar-thumb:hover {
  background: #777777;
}

/* < --------------------------------- > */

/* Login form start */
.diagonal-bg {
  background: linear-gradient(3deg, #FECD03 50%, #172b4d 50.3%);
}

.c-white {
  color: #fff;
}
.flex-column {
  flex-direction: column;
}
.welcome-heading {
  font-size: 1.6525rem;
  font-weight: 900;
}
.welcome-text {
  font-size: 1.225rem;
}
.loginForm {
  background-color: whitesmoke;
  padding: 60px;
  border-radius: 10px;
  color: #000;
}
#check {
  box-shadow: 0 0 2px rgb(207, 204, 204);
}
#check:checked {
  accent-color: #fecd03;
  box-shadow: 0 0 2px rgb(172, 169, 169);
}

form div div input {
  height: 45px;
  box-shadow: 5px 2px 5px rgb(235, 235, 235);
}
form div div input:hover {
  box-shadow: 5px 2px 5px rgb(228, 228, 228);
}

/* Login form End */

/* Users form Starts */
.userTitle{
  display: flex;
  align-items: center;
  background-color: #FECD03;
  padding-bottom: 200px;
}
.row{
  display: flex;
}
.userUrl{
  display: flex;
  background-color: whitesmoke !important;
  align-items: center;
  border-radius: 10px;

}
.userHeading span{
  font-size: 24px;
  font-weight: bolder;
  color: #fff;
}

.userList{
  border-radius: 20px;
  position: relative;
  top: -150px;

}

@media only screen and (max-width: 790px) {
  .userMenu{
    flex-direction: column;
  }
  .userMenu div a{
    padding: 10px;
  }
  .search-box{
    margin-top: 20px;
  }
  .userList{
    margin: 10px;
  }
  .no-wrap{
    word-wrap: break-word;
  }
  
}
/* Users form End */


/* < --------------------------------- > */
